<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>{{ month|title }}</title>
            <meta name="description" content="Monthly Challenges App">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <main>
          <ul>
            {% for month in months %}
              <li><a href="#"> {{ month|title }}</a></li>
            {% endfor %}
          </ul>
        </main>
        
    </body>
</html>