{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'challenges/challenges.css' %}">
{% endblock css_files %}


{% block title %}
  My Monthly Challenges
{% endblock title %}

{% block content %}
{% include 'challenges/includes/header.html' %}    
  <main>
    <ul>
      {% for month in months %}
        <li><a href="{% url 'month-challenges' month %}"> {{ month|title }}</a></li>
      {% endfor %}
    </ul>
  </main>
{% endblock content %}
