main, #home-main {
    width: 80%;
    margin: 4rem auto;
}

#home-main {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    max-width: 50rem;
    box-shadow: 0 2px 8px rgba(54, 54, 54, 0.308);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    height: 40vh;
    flex-wrap: wrap
}

li {
    margin: 2rem auto;
    text-align: center;
    font-size: 1.25rem;
    border-bottom: 1px solid rgb(238, 238, 238);
}

li a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

li a:hover,
li a:active {
    color: rgb(255, 59, 222);
}

#month-title {
    text-align: center;
    font-size: 1.5rem;
}

#task-test {
    text-align: center;
    font-size: 2rem;
}